<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <title>Document</title>
</head>
<body>
    <main id="todolist">
        <h1>
          Todo List
          
        </h1>
      
        <template v-if="todo.length">
          <transition-group name="todolist" tag="ul">
            <li v-for="item in todoByStatus" v-bind:class="item.done ? 'done' : ''" v-bind:key="item.id">
              <span class="label">{{item.label}}</span>
              <div class="actions">
                <button class="btn-picto" type="button" v-on:click="markAsDoneOrUndone(item)" v-bind:aria-label="item.done ? 'Undone' : 'Done'" v-bind:title="item.done ? 'Undone' : 'Done'">
                  <i aria-hidden="true" class="material-icons">{{ item.done ? 'check_box' : 'check_box_outline_blank' }}</i>
                </button>
                <button class="btn-picto" type="button" v-on:click="deleteItemFromList(item)" aria-label="Delete" title="Delete">
                  <i aria-hidden="true" class="material-icons">delete</i>
                </button>
              </div>
            </li>
          </transition-group>
          <togglebutton 
                        label="Переместить выполненое вниз"
                        name="todosort"
                        v-on:clicked="clickontoogle" />
        </template>
        <p v-else class="emptylist">Your todo list is empty.</p>
      
        <form name="newform" v-on:submit.prevent="addItem">
          <label for="newitem">Добавить в список</label>
          <input type="text" name="newitem" id="newitem" v-model="newitem">
          <button type="submit">Новое задание</button>

        </form>
      </main>


      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script src="index.js"></script>
</body>
</html>